.login-container {
    margin-top: 1%;
    border-radius: 58px 58px 58px 58px;
    border: double black 10px;
    padding: 50x;
    background-color: rgb(252, 252, 122);

}

body {
    background-color: #FFD43E;
}

.aqua {
    color: black;
}

h1 {
    margin-bottom: 5%;
}
.personagem_amarelo {
    transform: translate(-1%, 250%);
    height: 50px;
}